<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <style>
        body {
            overflow: auto;
            text-align: center;
            margin: 20px;
        }
        </style>
    <%- include("../partials/header.ejs") %> 
    <main>

        <form action="/insects/<%= insect.id %>?_method=PUT" method="post" >
<h4>Edit <%= insect.species %></h4><br>

                    <b>Image URL: <input 
                        type="text"
                        name="image"
                        value="<%= insect.image %>"
                        placeholder="Image URL"
                    /><br>
                    Family: <input 
                        type="text"
                        name="family"
                        value="<%= insect.family %>"
                        placeholder="Family"
                    /><br>
                    Genus: <input 
                        type="text"
                        name="genus"
                        value="<%= insect.genus %>"
                        placeholder="Genus"
                    /><br>
                    Species: <input 
                        type="text"
                        name="species"
                        value="<%= insect.species %>"
                        placeholder="Species"
                    /><br>
                    Life Stage: <input 
                        type="text"
                        name="lifeStage"
                        value="<%= insect.lifeStage %>"
                        placeholder="Life Stage"
                    /><br>
                      Collected Location: <input 
                      type="text"
                      name="location"
                      value="<%= insect.location %>"
                      placeholder="Location"
                  /><br>
                  Collected Date: <input 
                  type="date"
                  name="date"
                  value="<%= insect.date %>"
                  placeholder="Date"
              /><br>
              Notes: <input 
              type="text"
              name="notes"
              value="<%= insect.notes %>"
              placeholder="Notes"
          /><br><br>
          <div class="buttonsdiv">
            <input class="inputbutton" type="submit" value="Update <%= insect.species %>" />
        </form> 
        <form>
            <input class="inputbutton" type="button" value="Back" onclick="history.back()">
           </form>
        </div>
    </main>

</body>

</html>