<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>


    <div class="container">

        <div class="left"><a href="/insects/new"><button>Add Insect</button></a></div>

        <div class="right"><% for (insect of insects) { %>
            <img height="100px" src="<%= insect.image %>"><br>
            <a href="/insects/<%= insect._id %>"><i><%=insect.genus %> <%= insect.species %></i></a><br><br>
        <% } %> </div>

      </div>
</body>

</html>