<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <style>
        body {
            overflow: auto;
            text-align: center;
        }
        </style>
    <div class="show">
    <%- include("../partials/header.ejs") %> 
    <main>
        <h4><%= insect.genus %> <%= insect.species %></h4>
        <img height="400px" src="<%= insect.image %>"><br><br>
        Family: <%= insect.family %><br>
        Genus: <%= insect.genus %><br>
        Species: <%= insect.species %><br><br>

        Life stage: <%= insect.lifeStage %><br>
        Collected location: <%= insect.location %><br>
        Collection date: <%= insect.date %><br><br>

        Notes: <%= insect.notes %><br><br>

        <a href="/insects/<%= insect._id %>/edit">
            <button>Edit</button>
         </a>
         <br>
         <form action="/insects/<%= insect._id %>?_method=DELETE" method="POST">
            <input onclick="return deletePrompt()" type="submit" value="Delete" />
        </form>
        <p id="msg"></p>
    </main>
</body>
</body>

</html>