<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <h1><%= insect.genus %> <%= insect.species %></h1>
        <img height="200px" src="<%= insect.image %>"><br><br>
        Family: <%= insect.family %><br>
        Genus: <%= insect.genus %><br>
        Species: <%= insect.species %><br><br>

        Life stage: <%= insect.lifeStage %><br>
        Collected location: <%= insect.location %><br>
        Collection date: <%= insect.date %><br><br>

        Notes: <%= insect.notes %>
    </main>

</body>

</html>