<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <style>
        body {
            overflow: auto;
            text-align: center;
            margin: 20px;
        }
        </style>
    <%- include("../partials/header.ejs") %> 
    <main>
        <h4><%= insect.genus %> <%= insect.species %></h4>
        <img class="showimage" src="<%= insect.image %>"><br><br>
        <b>Family:</b> <%= insect.family %><br>
        <b>Genus:</b> <%= insect.genus %><br>
        <b>Species:</b> <%= insect.species %><br><br>

        <b>Life stage:</b> <%= insect.lifeStage %><br>
        <b>Collected location:</b> <%= insect.location %><br>
        <b>Collection date:</b> <%= insect.date %><br><br>

        <b>Notes:</b> <%= insect.notes %><br><br>
        <div class="buttonsdiv">
        <a href="/insects/<%= insect._id %>/edit">
            <button>Edit</button>
         </a> <form action="/insects/<%= insect._id %>?_method=DELETE" method="POST">
            <input class="inputbutton" onclick="return deletePrompt()" type="submit" value="Delete" />
        </form>
        <a href="/insects/">
            <button>Back</button>
        </a>
    </div>
    </main>
</body>
</body>

</html>